/* footer pusher */
html, body {
    height: 100%;
}

body > div, body > main{
    min-height: 100%;
    padding-bottom: 125px;
}


footer{
    position: relative;
    margin-top: -125px;
    height: 125px;
    clear:both;
    padding-top:20px;
}

/**
 * Footer Styles
 */

.copyRight{
    color: white;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background-color: black;
    border-top: 3px solid white;
    text-align: center;
}

footer .row{
    background-color: black;
}

.footerBox{
    background-color: black;
    padding: 10px;
    margin: 20px 3px 3px 0;
}

footer a{
    text-decoration: none;
    transition: color 0.2s;
}

footer a:hover{
    text-decoration: none;
    color: #ff3333;
}

