.foodName{
    border-right: 1px solid white;
}

.user{
    margin-right: 5px;
}

.showMore{
    border: 2px solid #438ac7;
}

.foodList{
    margin-bottom: 0;
}

ul li:nth-child(n+7) {
    display:none;
}