h2 {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 45px;
}

.foodName{
    border-right: 1px solid white;
}

.user{
    margin-right: 5px;
}

.showMore{
    border: 2px solid #438ac7;
}

.foodList{
    margin-bottom: 0;
}

ul li:nth-child(n+7) {
    display:none;
}

ul li:nth-child(even) {
    background-color: #f5f5f5;
}

.titleBox { 
    width: 220px;
    margin: 0 auto;
    margin-bottom: 9px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 27px;
    box-shadow: 4px 4px 9px #aaa;
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
    padding-bottom: 7px;
}

h2 {
    margin: 0;
}
/*
.titleBox #title { 
    position: relative; 
    top : -0.5em;
    margin-left: 1em;
    display: inline; 
    background-color: white; 
}*/