/* Nav bar related */
.navbar li:nth-child(1) {
    background-color: #222;
}

/* screen related */

@media (min-width: 768px){
    .nav li{
        border-right: 1px solid white;
    }

    .nav li:last-child{
        border-right: none;
        border-left: 1px solid white;
    }

    .logout{
        border-right-width: 0;
    }
}

@media (max-width: 767px){
    .nav li{
        border-bottom: 1px solid white;
    }
}

@media (min-width: 768px) and (max-width: 830px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}


/* logo related */
.logo{
    opacity: 0.8;
    transition: all 0.3s;
}

.logoItem{
    margin-top: -9px;
}

.navbar-brand .logoWord{
    display: inline-block;
    font-family: papyrus;
    font-size: 24px;
    color: white;
}

.logo:hover{
    opacity: 1.0;
}
