/* Nav bar related */

nav{
    box-shadow: 0 5px 0px rgba(204, 238, 255, 0.3);
}

.navbar{
    background-color: #99ceff;
}

.nav{
    width: 100%;  
}

.nav li{
    padding: 0;
}

.nav li a{
    transition: all 0.15s;
    color: black;
    background-color: #99ceff;
}

.nav li a:hover{
    background-color: #b3daff;
}

.nav .active a{
    background-color: #66b5ff;
}

.nav .active a:hover{
    background-color: #66b5ff;
}

.nav li .btn{
    padding: 9px 12px;
}

.nav li .input-group{
    width: 100%;
}


/* screen related */

@media (min-width: 768px){
    .nav li{
        border-right: 1px solid white;
    }
    
    .nav li:last-child{
        border-right: none;
        border-left: 1px solid white;
    }

    .logout{
        border-right-width: 0;
    }
}

@media (max-width: 767px){
    .nav li{
        border-bottom: 1px solid white;
    }
}


/* logo related */

#logo{
    text-align: center;
    padding: 20px 0;
}
.title{
    display: inline;
}