nav{
    box-shadow: 0 5px 4px #cccccc;
}

.navbar{
    background-color: #99ceff;
}

.nav{
    width: 100%;  
}

.nav li a{
    transition: all 0.15s;
    color: black;
    background-color: #99ceff;
}

.nav li a:hover{
    background-color: #b3daff;
}

.nav .active a{
    background-color: #66b5ff;
}

.nav .active a:hover{
    background-color: #66b5ff;
}

@media (min-width: 768px){
    .nav li{
        border-right: 1px solid white;
    }
    
    .nav li:last-child{
        border-right: none;
        border-left: 1px solid white;
    }

    .logout{
        float: right !important;
        border-right-width: 0;
    }
}

@media (max-width: 767px){
    .nav li{
        border-bottom: 1px solid white;
    }
}
#logo{
    text-align: center;
    padding: 20px 0;
}
.title{
    display: inline;
}