#userSearch{
    color: black;
}

#userList{
    display: none;
}

/* basicly from .btn class but unbuttonized :) */
.nameBlock{
    color: #333;
    background-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.delete{
    opacity: 0.8;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #d9534f;
    margin-left: 5px;
}




