/* PROFILE STYLING */

.contentBox{
    padding: 10px;
}

#profileOuter{
    padding: 20px;
}

#profileLower{
    border-top: 1px solid black;
}

.profileImg{
    /*width: 100%;
    height: 100%;*/
    margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 991px){
    .profileImg{
        width: 128px;
        height: 128px;
    }
}

#profileUpper, #profileLower{
    padding: 5px;
}

#profileName{
    font-size: 20px;
    font-weight: 800;
    overflow: hidden;
    text-align: left;
}

.foodListingHeader div{
    padding: 20px;
}

.foodListHeader h2{
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.foodListEdit{
    border-left: 1px solid black;
}

.foodListSection{
    margin: 15px 20px;
}

.foodBtn{
    width: 100%;
}
