section {
    margin: 10px 0px 10px 0px;
}

.foodlist{
    min-width: 1px;
    margin: 10px 5% 0 5%;
    width: 95%;
}

.foodTabBtn{
    width: 100%;
}

.foodTabBtn:hover{
    box-shadow: 0 0 10px #008ae6;
}

.foodContainer{
    padding: 10px;
    width: 85%;
}

.profileBreak div{
    margin: 0;
}

.profileBreak h4{
    margin: 0;
}

.foodContainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(153, 220, 200, 0.25);
}

.foodContainer li{
    padding: 0.1vw 0 0.1vw 25px;
}

#logo{
    text-align: center;
    padding: 20px 0;
}

.title{
    display: inline;
}

.editBtn{
    margin: 0 auto;
}

.foodListHeader{
    border-right: 1px solid white;
}

.profileImg{
    margin: 0 auto;
}

.userInfo h2{
    margin: 15px;
    border-bottom: 1px solid black;
}
