body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/little_pluses.png") repeat;
}

section {
    margin: 10px 0px 10px 0px;
}

.foodlist{
    min-width: 1px;
    margin: 10px 5% 0 5%;
    width: 95%;
}

.foodTabBtn{
    width: 100%;
}

.foodContainer{
    padding: 10px;
    width: 85%;
}

.profileBreak div{
    margin: 0;
}

.profileBreak h4{
    margin: 0;
}
.foodContainer ul{
   list-style-type: none;
   margin: 0;
   padding-left: 10px;
}
.foodContainer li{
    padding: 0.15vw 0.2vw;
}

.foodContainer li:nth-child(even) {
    background-color: #e6f7ff;
}

.foodContainer li:hover{
    background-color: #ffedb3;
}

nav{
    box-shadow: 0 5px 4px #737373;
}

.nav{
    width: 100%;
}

.nav li{
    background-color: beige;
}

.navbar .nav li a:hover{
    background-color: #4d79ff;
    color: beige;
}

.active a {
    background-color: black;
    color: white;
}

#logo{
    text-align: center;
    padding: 20px 0;
}

.title{
    display: inline;
}

.contentBox{
    background-color: beige;
    padding: 10px;
    margin: 20px 0 0 0;
    box-shadow: 6px 6px 4px #737373;
    border-radius: 5px;
}

@media (min-width: 768px){
    .nav li{
        border-right: 1px solid black;
    }

    .logout{
        float: right !important;
        border-right-width: 0;
    }
    
    
}

.foodTabBtn:hover{
    background: #ccefff;
    border-width: 0;
}
